.sidebar{
    padding-top: 100px;
    position: fixed;
    top:0;
    padding-bottom: 0;
    height:100%;
    width:220px;
    background-color: #F6F3FC;
    z-index:1;
}

.mainArea{
    padding-left: 240px;
    display: flex;
}

.cardListWrapper{
    display: flex;
}